{{- $email := promptString "email" -}}
{{- $location := promptString "location" -}}
{{- $aws_access := promptString "aws_access" -}}
{{- $aws_secret := promptString "aws_secret" -}}
[data]
    email = "{{ $email }}"
    location = "{{ $location }}"
    aws_access = "{{ $aws_access }}"
    aws_secret = "{{ $aws_secret }}"
