{{- $email := promptString "email" -}}
{{- $location := promptString "location" -}}
{{- $github_token := promptString "github_token" -}}
[data]
    email = "{{ $email }}"
    location = "{{ $location }}"
    github_token = "{{ $github_token }}"
