brew 'bat'
# brew 'chezmoi'
brew 'chruby-fish'
brew 'exa'
brew 'fish'
brew 'grc'
# brew 'highlight'
brew 'httpie'
brew 'hugo'
brew 'mas'
brew 'nodenv'
brew 'redis'
brew 'shellcheck'
brew 'tldr'
brew 'yarn'

# Install these on home machines only
{{- if eq .location "home" }}
cask 'beatport-pro'
cask 'bookmacster'
cask 'dupeguru'
cask 'forklift'
cask 'gemini'
cask 'native-access'
cask 'screenflow'
cask 'superduper'
cask 'quicken'
cask 'vlc'
# cask 'airfoil'
# cask 'audio-hijack'
# cask 'beardedspice'
# cask 'charles'
# cask 'espresso'
# cask 'gitbook-editor'
# cask 'insomnia'
# cask 'reflector'
# cask 'spamsieve'
# cask 'vox'
# cask 'wiretap-studio'
{{- end }}

# Install these on work machines only
{{- if eq .location "work" }}
cask 'goland'
cask 'harvest'
cask 'keka'
cask 'microsoft-teams'
cask 'tableplus'
{{- end }}

cask 'alfred'
# cask 'anki'
# cask 'ankiapp-anki'
cask 'appzapper'
cask 'backblaze'
# cask 'brave-browser'
# cask 'caret'
cask 'cheatsheet'
cask 'dash'
cask 'discord'
cask 'docker'
# cask 'do-not-disturb'
cask 'dropbox'
cask 'farrago'
cask 'firefox'
cask 'flux'
cask 'iterm2'
cask 'keybase'
cask 'keyboard-maestro'
cask 'knockknock'
cask 'loopback'
# cask 'lulu'
# cask 'notion'
# cask 'oversight'
# cask 'postman'
# cask 'reikey' # requires password?
# cask 'skype'
cask 'spotify'
cask 'sublime-text'
cask 'timing'
cask 'tower'
cask 'qlcolorcode'
cask 'qlimagesize'
cask 'qlmarkdown'
cask 'qlstephen'
cask 'quicklook-json'
cask 'zoomus'

# Fonts
tap 'homebrew/cask-fonts'
cask 'font-inconsolata'
# cask 'font-source-code-pro-for-powerline'
cask 'font-source-code-pro'

mas '1Password', id: 1333542190
mas 'Bear', id: 1091189122
mas 'BreakTime', id: 427475982
mas 'Ghostery Lite', id: 1436953057
mas 'Moom', id: 419330170
mas 'Popclip', id: 445189367
mas 'Slack', id: 803453959

# Install these on home machines only
{{- if eq .location "home" }}
mas 'Duplicate Detective', id: 686428787
mas 'Evernote', id: 406056744
mas 'Mactracker', id: 430255202
mas 'TwistedWave', id: 408452636
mas 'WhatsApp', id: 1147396723
mas 'WireGuard', id: 1451685025
{{- end }}

# installed previously. worth another look?
# Agenda
# anki
# coconutbattery
# gradient
# handbrake
# induction
# micro snitch
# popkey
# soundflower
# terminal-notifier
