brew 'awscli'
brew 'bat'
brew 'chezmoi'
brew 'difftastic'
brew 'direnv'
brew 'eza'
brew 'exercism'
brew 'fd'
brew 'fish'
brew 'grc'
# brew 'highlight'
brew 'httpie'
# brew 'hugo'
brew 'ical-buddy'
brew 'jq'
brew 'loc'
brew 'redis'
brew 'shellcheck'
brew 'scc'
brew 'starship'
# brew 'svn' # for some cask fonts
brew 't-rec'
brew 'terminal-notifier'
brew 'tldr'
# brew 'vips'
brew 'watchexec'

tap 'espanso/espanso'
cask 'espanso'
cask 'github'
cask 'iterm2'
cask 'sublime-text'

cask_args force: true

# Install these on home machines only
{{- if eq .location "home" }}
brew 'advancecomp'
brew 'mas'
brew 'pandoc'
brew 'pngquant'
brew "shc"
brew "squashfs"
# brew 'spotify_player'
tap 'homebrew/cask-versions'
cask 'homebrew/cask-versions/1password-beta'
cask '1password-cli'
cask 'bookmacster'
# cask 'calibre'
cask 'cheatsheet'
cask 'discord'
cask 'dropbox'
# cask 'dupeguru' - Apple says it can't be trusted
# cask 'ecamm-live'
cask 'evernote'
# cask 'forklift' - in setapp
cask 'flux'
cask 'google-chrome'
# cask 'gemini' - in setapp
cask 'karabiner-elements'
cask 'mactracker'
cask 'microsoft-edge'
cask 'native-access'
# cask 'superduper'
cask 'quicken'
cask 'slack'
cask 'visual-studio-code'
cask 'vlc'
cask 'zoom'
# cask 'airfoil'
cask 'audio-hijack'
# cask 'beardedspice'
# cask 'charles'
# cask 'espresso'
# cask 'gitbook-editor'
# cask 'insomnia'
# cask 'reflector'
# cask 'spamsieve'
cask 'spotify'
# cask 'telegram'
# cask 'vox'
cask 'whatsapp'
# cask 'wiretap-studio'

cask 'alfred'
# cask 'anki'
# cask 'ankiapp-anki'
cask 'appzapper'
# cask 'bartender' - in setapp
# cask 'brave-browser'
cask 'bunch'
# cask 'caret'
# cask 'dash' - in setapp
# cask 'do-not-disturb'
cask "duckduckgo"
cask 'firefox'
cask 'imageoptim'
# cask 'keybase'
cask 'keyboard-maestro'
cask 'kitty'
cask 'knockknock'
cask 'loopback'
cask 'loom'
cask 'lulu'
cask "netiquette"
# cask 'moom'
# cask 'notion'
cask 'obsidian'
# cask 'oversight'
# cask 'popclip' - in setapp
# cask 'postman'
# cask 'raycast'
cask 'rocket'
# reikey requires password?
cask 'reikey'
cask 'setapp'
# cask 'skype'
cask 'suspicious-package'
# cask 'timing' - in setapp
cask 'tower'
cask 'qlimagesize'
# cask 'qlmarkdown' # Looks like this feature is now built into Sonoma!
cask 'quicklook-json'
{{- end }}

# Install these on iMac only
{{- if eq .chezmoi.hostname "Moncefs-iMac" }}
cask 'backblaze'
cask 'beatport-pro'
cask 'farrago'
cask 'qlcolorcode'
cask 'qlstephen'
cask 'screenflow'
mas 'Vimeo - Video Management', id: 1356686763
{{- end }}

# Install these on work machines only
{{- if eq .location "work" }}
# brew 'chamber'
# brew 'pre-commit'
# brew 'terraform'
# cask 'aws-vault'
# cask 'docker'
# cask 'keka'
# cask 'microsoft-teams'
# cask 'opensc'
# cask 'tableplus'
{{- end }}

# Fonts
# tap 'homebrew/cask-fonts'
# cask 'font-inconsolata'
# cask 'font-source-code-pro-for-powerline'
# cask 'font-source-code-pro'
# cask 'font-sauce-code-pro-nerd-font'

# mas 'Ghostery Lite', id: 1436953057
# mas 'PopClip', id: 445189367
# mas 'RetailMeNot Deal Finder', id: 1588381926
# mas 'Slack', id: 803453959
# mas 'Step Two', id: 1448916662 # also available on Setapp
# mas 'Telegram', id: 747648890

# Install these on home machines only
{{- if eq .location "home" }}
mas '1Blocker', id: 1365531024
mas "1Password for Safari", id: 1569813296
mas "BetterJSON", id: 1511935951
mas 'BreakTime', id: 427475982
# mas "Developer", id: 640199958
mas 'Dato', id: 1470584107 # also available on Setapp
mas 'Drafts', id: 1435957248
mas 'DuckDuckGo Privacy Essentials', id: 1482920575
mas 'Duplicate Detective', id: 686428787
# mas 'Evernote', id: 406056744
mas 'Kindle', id: 302584613
# mas 'Mactracker', id: 430255202
mas 'Marked 2', id: 890031187 # in setapp
mas 'Moom', id: 419330170
mas 'Pixelmator Pro', id: 1289583905
mas 'Pins for Pinboard', id: 1547106997
mas 'Poolsuite FM', id: 1514817810
# mas 'Stellar for Reddit', id: 1566795636
mas 'TwistedWave', id: 408452636
mas 'Twitter', id: 1482454543
mas "World Clock", id: 956377119
# mas 'WhatsApp', id: 1147396723
mas 'WireGuard', id: 1451685025
{{- end }}

## Not in mas or App Store
# Duplicate Detective 2
# Korg M1
# Descript

## To buy
# Logic Pro X

## installed previously. worth another look?
# Agenda
# anki
# coconutbattery
# gradient
# handbrake
# induction
# loopcloud
# micro snitch
# popkey
# soundflower
# stuffit expander
# terminal-notifier
# tidy up
