#!/bin/sh

set -e

fancy_echo "Cloning GitHub repos ..."
gh auth login --with-token < ~/.github_token

if [ ! -d "$HOME/projects" ]; then
  mkdir "$HOME/projects"
fi

# Clone these on home machines only
{{- if eq .location "home" }}

if [ ! -d "$HOME/projects/codeforamerica" ]; then
  mkdir "$HOME/projects/codeforamerica"
fi
cd ~/projects/codeforamerica
if [ ! -d "$HOME/projects/codeforamerica/ohana-api" ]; then
  gh repo clone codeforamerica/ohana-api
fi

if [ ! -d "$HOME/projects/codeforamerica/ohana-web-search" ]; then
  gh repo clone codeforamerica/ohana-web-search
fi

if [ ! -d "$HOME/projects/monfresh" ]; then
  mkdir "$HOME/projects/monfresh"
fi
cd ~/projects/monfresh

if [ ! -d "$HOME/projects/monfresh/laptop" ]; then
  gh repo clone monfresh/laptop
fi

if [ ! -d "$HOME/projects/monfresh/install-ruby-on-macos" ]; then
  gh repo clone monfresh/install-ruby-on-macos
fi

if [ ! -d "$HOME/projects/monfresh/monfresh-dot-com" ]; then
  gh repo clone monfresh/monfresh-dot-com
fi

if [ ! -d "$HOME/projects/monfresh/ohana-sms" ]; then
  gh repo clone monfresh/ohana-sms
fi

if [ ! -d "$HOME/projects/monfresh/blog" ]; then
  gh repo clone monfresh/blog
fi

# mkdir ~/projects/smcgov
# cd ~/projects/smcgov
# gh repo clone smcgov/ohana-api-smc
# gh repo clone smcgov/SMC-Connect
# gh repo clone smcgov/ohana-sms-smc
{{- end }}
