{{- if eq .location "home" }}
# home only
alias cdows='cd ~/projects/codeforamerica/ohana-web-search && git pull && bundle'
alias cdoh='cd ~/projects/codeforamerica/ohana-api && git pull && bundle'
alias blog='cd ~/projects/monfresh/blog && git pull && chruby (cat .ruby-version) && bundle && subl . && bundle exec middleman serve'
alias smco='cd ~/projects/smcgov/ohana-api-smc && chruby (cat .ruby-version) && git pull && bundle && subl .'
alias smcw='cd ~/projects/smcgov/SMC-Connect && chruby (cat .ruby-version) && git pull && bundle && subl .'
{{- end }}

# common
alias s='open -a "Sublime Text"'
alias cdp='cd ~/projects/'
alias gpom='git push origin master'
alias gphm='git push heroku master'
alias rof='bundle exec rspec --only-failures'
alias fact="elinks -dump randomfunfacts.com | grep '^|' | tr -d \|"
alias bi='bundle install'
alias bd='brew doctor'
alias bu='brew update'
alias lsa='ls -lah'
alias fa='subl /Users/moncef/.local/share/chezmoi/dot_fish_aliases.tmpl'
alias bf='subl /Users/moncef/.local/share/chezmoi/Brewfile.local.tmpl'
alias fv='s ~/.fish_variables'
alias fc='s ~/.config/fish/config.fish'
alias fix='git diff --name-only | uniq | xargs subl'
alias lap='cd ~/projects/monfresh/laptop'
alias pgup='brew remove --force postgresql@14 && rm -rf (brew --prefix)/var/postgresql@14 && brew install postgresql@14 && brew services start postgresql@14'

# jekyll
alias jb='bundle exec jekyll build'
alias js='bundle exec jekyll serve'

# middleman
alias mb='bundle exec middleman build'
alias ms='bundle exec middleman serve'
abbr ma 'bundle exec middleman article'
alias deploy='bundle exec middleman build && s3_website push'

# rubyonmac
alias romsite='cd ~/projects/rubyonmac/rubyonmac-site && git pull && chruby (cat .ruby-version) && bundle && subl . && bin/bridgetown start'

alias zipprime='zip -r rubyonmac-prime.zip . -x "*.git*" -x .gitignore -x Brewfile.lock.json -x .DS_Store -x troubleshooting.md -x post-installation-guides.md -x prerequisites.md -x README.md -x customizing.md -x docs.md -x "script/*" -x .version -x .ruby-version -x test.sh -x "*.png"'

alias zipult='zip -r rubyonmac-ultimate.zip . -x ".git/*" -x .gitignore -x Brewfile.lock.json -x "*.DS_Store" -x troubleshooting.md -x post-installation-guides.md -x prerequisites.md -x README.md -x customizing.md -x docs.md -x quickstart.md -x "script/*" -x "tests/*" -x ".circleci/*" -x .version -x .rubocop.yml -x Gemfile -x Gemfile.lock -x .envrc -x "spec/*" -x brew_info.rb -x CHANGELOG.md -x test.sh -x rom-ultimate.x.c -x "*.png" -x test.rb -x .rspec -x "tmp/*" -x install_ruby_from_source.sh'

alias zipbasic='cd ~/projects/rubyonmac/rom-basic && git pull && zip -r rubyonmac-basic.zip . -x "*.git*" -x .gitignore -x .DS_Store -x troubleshooting.md -x prerequisites.md -x README.md -x docs.md -x post-installation-guides.md -x "script/*"'

alias zipguide='cd ~/projects/rubyonmac/rom-guide && git pull && zip -r rubyonmac-guide.zip . -x "*.git*" -x .gitignore -x .DS_Store -x troubleshooting.md -x prerequisites.md -x README.md -x docs.md'

alias zipgit='cd ~/projects/rubyonmac/gitconfig && zip -r rubyonmac-gitconfig.zip . -x ".git/*" -x .gitignore -x .DS_Store -x README.md -x docs.md'

alias ziprepos='cd ~/projects/rubyonmac/repos-addon && zip -r rubyonmac-repos.zip . -x ".git/*" -x .gitignore -x .DS_Store -x README.md -x docs.md -x .ruby-version'

alias zipall='zipbasic && zipult && zipprime && zipgit && ziprepos'

alias romprime='cd ~/projects/rubyonmac/rom-prime && git pull'
alias rombasic='cd ~/projects/rubyonmac/rom-basic && git pull'
alias romu='cd ~/projects/rubyonmac/rom-ultimate && git pull'

alias romup='rom_loop'

function rom_loop
  for dir in ~/projects/rubyonmac/*/
      echo "current dir is: $dir"
      cd $dir && git pull
  end
end

## GIT ##
alias gitconfig='subl ~/.gitconfig'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs='git status'
alias gb='git branch'
abbr gco 'git checkout'
abbr gpo 'git push origin'
alias gca='git commit --amend --no-edit'
alias gp='git push'
alias grv='git remote -v'

abbr ber 'bundle exec rspec'
