{{- if eq .location "home" }}
# home only
alias cdh='cd ~/projects/codeforamerica/ohana-web-search && git pull && bundle'
alias cdoh='cd ~/projects/codeforamerica/ohana-api && git pull && bundle'
alias blog='cd ~/projects/monfresh/blog && bundle && git pull && bundle &&  bundle exec middleman serve'
alias smco='cd ~/projects/smcgov/ohana-api-smc && git pull && bundle'
alias smcw='cd ~/projects/smcgov/SMC-Connect && git pull && bundle'
{{- end }}

# common
alias s='open -a "Sublime Text"'
alias cdp='cd ~/projects/'
alias gpom='git push origin master'
alias gphm='git push heroku master'
alias rof='bundle exec rspec --only-failures'
alias fact="elinks -dump randomfunfacts.com | grep '^|' | tr -d \|"
alias bi='bundle install'
alias bd='brew doctor'
alias bu='brew update'
alias lsa='ls -lah'
alias fa='subl /Users/moncef/.local/share/chezmoi/dot_fish_aliases.tmpl'
alias fv='s ~/.fish_variables'
alias fc='s ~/.config/fish/config.fish'
alias fix='git diff --name-only | uniq | xargs subl'
alias lap='cd ~/projects/monfresh/laptop'
alias pgup='brew remove --force postgresql && rm -rf /usr/local/var/postgres/ && brew install postgresql && brew services start postgresql'

# jekyll
alias jb='bundle exec jekyll build'
alias js='bundle exec jekyll serve'

# middleman
alias mb='bundle exec middleman build'
alias ms='bundle exec middleman serve'
abbr ma 'bundle exec middleman article'
alias deploy='bundle exec middleman build && s3_website push'

# rubyonmac
alias rom='cd ~ && /usr/bin/env bash ~/rom-prime 2>&1 | tee ~/rom-prime.log'

alias romsite='cd ~/projects/rubyonmac/rubyonmac-site && git pull && bundle && bin/bridgetown start'

alias zipprime='cd ~/projects/rubyonmac/rom && git pull && zip -r rubyonmac-prime.zip . -x "*.git*" -x .gitignore -x Brewfile.lock.json -x .DS_Store -x troubleshooting.md -x post-installation-guides.md -x prerequisites.md -x README.md -x customizing.md -x docs.md -x "script/*" -x .version'

alias zippro='cd ~/projects/rubyonmac/rom-pro && git pull && zip -r rubyonmac-pro.zip . -x ".git/*" -x .gitignore -x Brewfile.lock.json -x "*.DS_Store" -x troubleshooting.md -x post-installation-guides.md -x prerequisites.md -x README.md -x customizing.md -x docs.md -x "script/*" -x .version'

alias zipbasic='cd ~/projects/rubyonmac/rom-basic && git pull && zip -r rubyonmac-basic.zip . -x "*.git*" -x .gitignore -x .DS_Store -x troubleshooting.md -x prerequisites.md -x README.md -x docs.md'

alias zipplus='cd ~/projects/rubyonmac/rom-plus && git pull && zip -r rubyonmac-plus.zip . -x "*.git*" -x .gitignore -x .DS_Store -x troubleshooting.md -x prerequisites.md -x README.md -x docs.md -x post-installation-guides.md'

alias zipgit='cd ~/projects/rubyonmac/gitconfig && zip -r rubyonmac-gitconfig.zip . -x ".git/*" -x .gitignore -x .DS_Store -x README.md -x docs.md'

alias ziprepos='cd ~/projects/rubyonmac/repos-addon && zip -r rubyonmac-repos.zip . -x ".git/*" -x .gitignore -x .DS_Store -x README.md -x docs.md -x .ruby-version'

alias zipall='zipbasic && zipplus && zipprime && zipgit && ziprepos'

alias romprime='cd ~/projects/rubyonmac/rom && git pull'
alias rombasic='cd ~/projects/rubyonmac/rom-basic && git pull'
alias romplus='cd ~/projects/rubyonmac/rom-plus && git pull'

alias romup='cd ~/projects/rubyonmac/rom && git pull && cd ~/projects/rubyonmac/rom-plus && git pull && cd ~/projects/rubyonmac/rom-basic && git pull && cd ~/projects/rubyonmac/gitconfig && git pull && cd ~/projects/rubyonmac/repos && git pull && cd ~/projects/rubyonmac/macos-prefs && git pull'

alias pprime='zipprime && romprime && bash publish'

## GIT ##
alias gitconfig='subl ~/.gitconfig'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs='git status'
alias gb='git branch'
abbr gco 'git checkout'
abbr gpo 'git push origin'
alias gca='git commit --amend --no-edit'
alias gp='git push'
alias grv='git remote -v'

abbr ber 'bundle exec rspec'
