{{- if eq .chezmoi.hostname "Moncefs-MacBook-Air.local" }}
status --is-interactive; and eval (/opt/homebrew/bin/brew shellenv)
{{- end }}

source ~/.fish_aliases

source ~/.fish_variables

status --is-interactive; and source (nodenv init -|psub)

chruby 3.0.3

{{- if eq .chezmoi.hostname "Moncefs-MacBook-Air.local" }}
starship init fish | source
{{- end }}
