{{- if eq .chezmoi.hostname "Moncefs-M1-MacBook-Air" }}
status --is-interactive; and eval (/opt/homebrew/bin/brew shellenv)
{{- end }}

source ~/.fish_aliases

source ~/.fish_variables

{{- if eq .chezmoi.hostname "Moncefs-M1-MacBook-Air" }}
starship init fish | source
{{- end }}

export RUBYONMAC_UPDATE_PATH="$HOME/projects/rubyonmac/rom-ultimate"
