# For each repo you want to clone from GitHub, specify the path and the repo name.
# Include both the GitHub username or org name and the repo name, separated by a slash.
# For example:
# - path: ~/code/monfresh
#   name: monfresh/Keyboard-Maestro-Macros

# Install these on home machines only
{{- if eq .location "home" }}
- path: ~/projects/rubyonmac
  name: rubyonmac/paddle-webhook

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-prime

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-generator

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-guide

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-ultimate

- path: ~/projects/rubyonmac
  name: rubyonmac/rubyonmac-issues

- path: ~/projects/rubyonmac
  name: rubyonmac/rubyonmac-site

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-cli

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-cli-trial

- path: ~/projects/rubyonmac
  name: rubyonmac/rom-trial

- path: ~/projects/monfresh
  name: monfresh/blog

- path: ~/projects/monfresh
  name: monfresh/Keyboard-Maestro-Macros

- path: ~/projects/monfresh
  name: monfresh/monfresh-dot-com

- path: ~/projects/monfresh
  name: monfresh/ohana-sms

- path: ~/projects/monfresh
  name: monfresh/ruby-packer

- path: ~/projects/codeforamerica
  name: codeforamerica/ohana-api

- path: ~/projects/codeforamerica
  name: codeforamerica/ohana-web-search

- path: ~/projects/codeforamerica
  name: codeforamerica/ohana-api-docs

- path: ~/projects/codeforamerica
  name: codeforamerica/ohanakapa-ruby

- path: ~/projects/smcgov
  name: smcgov/ohana-api-smc

- path: ~/projects/smcgov
  name: smcgov/SMC-Connect
{{- end }}

# Install these on work machines only
{{- if eq .location "work" }}
- path: ~/projects/18F
  name: 18F/identity-idp
{{- end }}
